<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travel.svago">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.travel.svago.SvagoPackage.TripPackage.TripOrderActivity"></activity>
        <activity android:name="com.travel.svago.SvagoPackage.CarPackage.CarOrderActivity" />
        <activity android:name="com.travel.svago.SharedPackage.Activity.ContactUs.ContactUSActivity" />
        <activity android:name="com.travel.svago.SidePackage.ProfilePackage.ProfileActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.travel.svago.SharedPackage.Activity.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name="com.travel.svago.SvagoPackage.TripPackage.SvagoDetailsActivity" />
        <activity android:name="com.travel.svago.SidePackage.ProfilePackage.EditProfileActivity" />
        <activity android:name="com.travel.svago.AuthPackage.LoginPackage.LoginActivity" />
        <activity android:name="com.travel.svago.AuthPackage.RegisterPackage.RegisterActivity" />
        <activity android:name="com.travel.svago.TravelPayPackage.HotelPackage.Activities.HotelResultActivity" />
        <activity android:name="com.travel.svago.TravelPayPackage.FlightPackage.Activities.FlightResultActivity" />
        <activity
            android:name="com.travel.svago.SharedPackage.Activity.MainHomeActivity"
            android:label=""
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible" />
        <activity android:name="com.travel.svago.TravelPayPackage.FlightPackage.Activities.TripDetailsActivity" />
        <activity android:name="com.travel.svago.SvagoPackage.CarPackage.CarDetailsActivity" />
        <activity android:name="com.travel.svago.SharedPackage.Activity.WaitingSearchActivity" />
        <activity android:name="com.travel.svago.TravelPayPackage.FlightPackage.Activities.BookingInformationActivity" />
        <activity android:name="com.travel.svago.SharedPackage.Activity.PaymentSuccessActivity" />
        <activity android:name="com.travel.svago.SharedPackage.Activity.TicketStatusActivity" />
        <activity android:name="com.travel.svago.SharedPackage.Activity.PickDateActivity" />
        <activity android:name="com.travel.svago.SharedPackage.Activity.PaymentActivity" />
        <activity android:name="com.travel.svago.SharedPackage.Activity.HomeActivity" />
        <activity android:name="com.travel.svago.SharedPackage.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>